html, body {width: auto!important; overflow-x: hidden!important} 
body{
  box-sizing: border-box;
}
.dim{
opacity: 0.5;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.learnmore:hover{
  opacity: 0.9;
  cursor: pointer;
}
.fab:hover{
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .vendorsContainer{
    margin: 100px;
  }
}
@media screen and (min-width: 768px) {
  footer .brdr{
    border-right: solid 2px;
    border-color: orange;
  }
}
@media screen and (max-width: 768px) {
  footer .brdr{
    border-bottom: solid 2px;
    border-color: orange;
  }
}
